.main_container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 25px;

}

.header {
    flex: 2;
}

.tv_show {
    flex:4;
}

.recomended_tv_shows {
    flex:2;
    -color: rgb(88, 69, 69);
}